    <!-- IDE Support Section -->
    <section id="ide" class="container content-section text-center">
        <div class="row center-block">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>IDE Support</h2>
                <div class="row text-center">
                  <div class="col-xs-6 col-sm-6 text-left">
                    <h3>Eclipse Plugin</h3>
                    <p>- Maven 2 Eclipse Connector</p>
                    <p>- Available in <a href="http://marketplace.eclipse.org/content/cola-tests-m2e-connector">Eclipse Marketplace</a></p>
                    <p>- For Eclipse Luna (4.4) or above</p>
                    <a href="https://github.com/bmsantos/m2eclipse-cola" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">M2Eclipse Plugin</span></a>
                  </div>
                  <div class="col-xs-6 col-sm-6 text-left">
                    <h3>IDEA Plugin</h3>
                    <p>- Not dependant in build frameworks</p>
                    <p>- Available in <a href="https://plugins.jetbrains.com/plugin/7700?pr=idea">IDEA plugin repository</a></p>
                    <p>- For IntelliJ IDEA 14 or above</p>
                    <a href="https://github.com/bmsantos/cola-idea-plugin" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">IntelliJ IDEA Plugin</span></a>
                  </div>
                </div>
            </div>
        </div>
    </section>
