    <!-- Usage Section -->
    <section id="usage" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Usage</h2>
                    <p>Easy integration with build frameworks and the command line.</p>
                    <a href="https://github.com/bmsantos/cola-maven-plugin" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i>Maven Plugin</a>
                    <a href="https://github.com/bmsantos/cola-gradle-plugin" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i>Gradle Plugin</a>
                    <a href="https://github.com/bmsantos/cola-tests" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i>Compiler</a>
                </div>
            </div>
        </div>
    </section>
